header {
    background-color: #F7F7F7;
    height: 30px;
    color: #003049;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgb(31, 19, 19);}
nav{
    margin-left: 1000px;
}
.links a{
    margin-left: 20px;
    text-decoration: none;
    color: #003049;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.links a:hover{
    color: #C1121F;
}
.Heading{
    background-color: rgb(259, 240, 247);
}
.Heading th{
    color:#C1121F

}
img{
  height: 260px;
  width: 100%;
}
#ReqTab {
    width: 100%;
    border-collapse: collapse;
}
