body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.links{
    margin-left: 500px;
}
.links a{
    margin-left: 50px;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

h2 {
    color: #dc3545;
    margin-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


header {
    background-color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav a {
    color: #6c757d;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s;
}
.top-nav a:hover {
    color: #dc3545;
}
.filters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.filter-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #495057;
}
.search-btn {
    background-color: #dc3545;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #c82333;
}
