<html>
<head>
    <title>Donor Dashboard</title>
    <link rel="stylesheet" href="../asset/CSS/DonorBashBoard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header>
    <div style="float: left;">
        <h5><i class="fas fa-tint" style="color: red;"></i> Blood Donation</h5>
    </div>
    <div style="float: right;">
        <nav class="links" style="display: inline-block; margin-right: 15px;">
            <a href="#" style="font-weight: bold; color: red;">Dashboard</a>
            <a href="#">Requests</a>
            <a href="#">Appointments</a>
            <a href="#">Profile</a>
        </nav>
        <span style="margin-right: 15px;">
            <i class="fas fa-bell"></i> Notifications
            <span class="summary-badge" style="background-color: red; color: white;">3</span>
        </span>
        
        <a href="#" style="text-decoration: none; margin-left: 5px;">&#9662;</a>
    </div>
    <div style="clear: both;"></div>
</header>
<table border="1px" width="100%" cellspacing="0">
    <tr class="Heading">
        <th colspan="2">Donor Dashboard</th>
    </tr>

    <tr>
        <td width="75%" valign="top">
            <table border="1px" width="100%" cellspacing="0">
                <tr>
                    <td colspan="4" align="center">
                        <h4>Donor Status Summary</h4>
                        <div style="display: flex; justify-content: space-around;">
                            <div>Blood Group: <span class="summary-badge">A+</span></div>
                            <div>Eligibility: <span class="summary-badge">Eligible</span></div>
                            <div>Last Donation: 23/03/2025</div>
                            <div><input type="checkbox" checked> Available</div>
                        </div>
                    </td>
                </tr>
                <tr><td>Name</td><td>SyedAhanaf Chowdhury Auditta</td></tr>
                <tr><td>Age</td><td>23</td></tr>
                <tr><td>Blood Group</td><td>A+</td></tr>
                <tr><td>Status</td><td style="color: green;">Active</td></tr>
                <tr><td>Location</td><td>Mirpur-2, Dhaka</td></tr>
            </table>
        </td>
        <td width="25%">
            <img src="../asset/Image/pp.webp" width="100%">
        </td>
    </tr>
</table>



</body>
</html>
