<html>
    <header >
    <div><h5>Blood Donation</h5></div>
    <link rel="stylesheet" href="../asset/CSS/DonorBashBoard.css">
    <nav class="links">
        <a href="#">Home</a>
        <a href="#">Doner</a>
        <a href="#">Recipent</a>
        <a href="#">Register</a>
    </nav>
    </header>
    <main >
    <table border="1px" width="100%" cellspacing=0 >
     <tr class="Heading"><th colspan="2">Donor Dashboard</th></tr>
     <tr height="50px">
        <td width="70%" >
          <table border="1px" cellspacing="0">
            <tr><label>Name:</label>SyedAhanaf Chowdhury Auditta</tr>
          </table>
        </td>
        <td width="25%"> <img src="../asset/Image/pp.webp" alt=""></td>
     </tr>
    
    </table>
    </main>
</html>