<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Management - Admin</title>
    <link rel="stylesheet" href="../asset/CSS/Donomng.css"> 
    
</head>
<body>
        <header>
        <div class="logo">
            <i class="fas fa-user-shield"></i> Admin Panel
        </div>
        <nav class="top-nav">
            <a href="dashboard.html">Dashboard</a>
            <a href="#" class="active-page">Donor Management</a>
            <a href="#">Request Management</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>
    </header>
</body>